<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>

<div class="container-registro">
    <div class="content">
        <div class="logo">
            <img src="/img/logo.webp" alt="logo" width="616" height="208">
        </div>

        <div class="foto">
            <img src="/img/imgCadastro-1.webp" alt="foto" width="1472" height="2128" fetchpriority="high">
        </div>

        <section class="cadastro section" *ngIf="!verifyCode && !steam">
            <span>Preencha abaixo seus dados pessoais reais</span>
            <form [formGroup]="registroForm">
                <div class="form-group">
                    <label for="nome-completo" [ngClass]="{'class': true}">Nome completo</label>
                    <input type="text" id="nome-completo" formControlName="nome"
                        [ngClass]="{'check': registroForm.get('nome')?.valid}" placeholder="Bastião da Silva">
                    <i class="fa-solid fa-check-circle" *ngIf="registroForm.get('nome')?.valid"></i>

                </div>

                <div class="form-group">
                    <label for="dataNascimento">Data de nascimento</label>
                    <p-datepicker dateFormat="dd/mm/yy" #dataNascimento id="dataNascimento"
                        formControlName="dataNascimento" class="custom-datepicker" placeholder="dd/mm/aaaa"
                        [inputId]="'dataNascimentoInput'"></p-datepicker>


                    <i class="fa-solid fa-check-circle" *ngIf="registroForm.get('dataNascimento')?.valid"></i>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email"
                        [ngClass]="{'check': registroForm.get('email')?.valid}" placeholder="bastiao@email.com">
                    <i class="fa-solid fa-check-circle" *ngIf="registroForm.get('email')?.valid"></i>
                </div>

                <div class="form-group">
                    <label for="telefone" [ngClass]="{'class': true}">Telefone</label>
                    <div class="d-flex">
                        <p-dropdown [options]="countryList" optionLabel="name" (onChange)="onCountryChange($event)">
                            <ng-template let-country pTemplate="selectedItem">
                                <div class="country-item">
                                    <img [src]="'https://flagcdn.com/w20/' + country.code.toLowerCase() + '.webp'"
                                        alt="flag" class="flag" />
                                    {{ country.code }}
                                </div>
                            </ng-template>

                            <ng-template let-country pTemplate="item">
                                <div class="country-item">
                                    <img [src]="'https://flagcdn.com/w20/' + country.code.toLowerCase() + '.webp'"
                                        alt="flag" class="flag" />
                                    {{ country.label }} {{ country.dialCode }}
                                </div>
                            </ng-template>
                        </p-dropdown>


                        <input type="tel" id="telefone" formControlName="telefone"
                            [ngClass]="{'check': registroForm.get('telefone')?.valid}"
                            [value]="selectedCountry.dialCode" [prefix]=" selectedCountry.dialCode"
                            [mask]="phonePlaceholder" [placeholder]="phonePlaceholder">




                    </div>
                    <i class="fa-solid fa-check-circle" *ngIf="registroForm.get('telefone')?.valid"></i>

                </div>


                <div class="form-group">
                    <label for="indicacao">Fonte de indicação</label>
                    <p-select id="indicacao" formControlName="indicacao" [options]="indicacoes" optionValue="value"
                        optionLabel="label" placeholder="Selecione uma opção" class="w-full"
                        [ngClass]="{'check': registroForm.get('indicacao')?.valid}">
                    </p-select>
                    <i class="fa-solid fa-check-circle" *ngIf="registroForm.get('indicacao')?.valid"></i>
                </div>




                <div class="checkbox">
                    <mat-checkbox formControlName="checkbox">
                        <span class="checkbox-label">Estou ciente que preciso ter acima de 18 anos para continuar</span>
                    </mat-checkbox>
                </div>




                <button type="submit" class="btn-style" (click)="sendCode()"
                    [disabled]="registroForm.invalid || sendingCode">
                    {{sendingCode ? 'Enviando codigo...' : 'Avançar'}}
                </button>
            </form>
        </section>


        <section class="verify-code" *ngIf="verifyCode">
            <div class="titles">
                Verificar Email
                <span>Enviamos um código de 6 dígitos para o seu Email: </span>
                <span id="number" (click)="changeNumber()">{{registroForm.value.email}}</span>
                <!-- Verificar SMS
                <span>Enviamos um código de 6 dígitos para o seu celular: </span>
                <span id="number" (click)="changeNumber()">{{registroForm.value.telefone |
                    formatPhone:selectedCountry.code}}</span> -->
            </div>

            <div class="codes">
                <p-inputotp 
                size="large" 
                [length]="6" 
                [(ngModel)]="codigo" 
                (onInput)="validateNumericInput($event)"
              />
              
            </div>


            <button class="btn-style" (click)="verificarCode()">Avançar</button>

        </section>


        <section class="steam" *ngIf="steam">
            <div class="content-steam">
                Conta Steam
                <span>Conecte sua conta Steam para realizar a WL:</span>

                <div class="btn-steam">
                    <img src="/img/steam.webp" alt="steam" width="1562" height="484" loading="lazy">
                    <div>
                        <button class="btn-style btn-style-global" (click)="vincularSteam()"
                            [disabled]="steamVinculado">Vincular</button>
                        <i class="fa-solid fa-check-circle" [ngClass]="{'vinculado': steamVinculado}"></i>
                    </div>
                </div>
            </div>

            <button class="btn-style btn-style-global" (click)="concluirCadastro()">Concluir</button>
        </section>
    </div>
</div>