<main>
    <app-breadcrumb [crumbs]="[{ label: 'Home', url: '/' }, { label: 'Política de Cookies' }]" />
    <h1>Política de Cookies - Groove Roleplay</h1>
    <div class="container">
        <section class="privacy-content">
            <h2>1. O que são cookies?</h2>
            <p>Cookies são pequenos arquivos armazenados no seu dispositivo para melhorar sua experiência no site.</p>


            <h2>2. Como utilizamos cookies?</h2>
            <p>Utilizamos cookies para:</p>
            <ul>
                <li>Salvar suas preferências de navegação</li>
                <li>Melhorar a segurança e autenticação</li>
                <li>Análise de desempenho do site</li>
            </ul>

            <h2>3. Direitos do Usuário</h2>
            <p>Você pode configurar seu navegador para bloquear cookies, mas algumas funcionalidades do site podem ser
                afetadas.</p>
        </section>
    </div>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Política de Cookies",
        "description": "Informações sobre o uso de cookies no Groove Roleplay.",
        "url": "https://seu-dominio/politica-de-cookies"
    }
    </script>
</main>
