@use '../../../../public/variables.scss' as *;
;

.container-header {
    position: relative;

    header {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
        transition: all 0.5 ease-in-out;
        background-color: rgba(34, 39, 40, 0.7);
        z-index: 999;
        width: 100%;
        top: -1px;

        .margin-site {
            display: flex;
            max-width: 1300px;
            min-width: 300px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            position: relative;


            .profile-dropdown {
                position: absolute;
                right: 0;
                top: 140%;
                width: 260px;
                background-color: $secundary;
                padding: 20px 10px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;


                .profile-menu {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;

                    .menu {
                        width: 100%;
                        font-size: 14px;
                        padding: 10px 20px;
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        cursor: pointer;
                        font-weight: 200;
                        transition: all 200ms ease-in-out;

                        &:hover {
                            border-radius: 8px;
                            background-color: rgba($color: #1A1B1D, $alpha: 0.6);
                        }

                        i {
                            width: 10px;
                            display: grid;
                            place-content: center center;
                        }

                        &.settings {
                            border: none;
                        }


                        &.logout {
                            border: none;
                            border-top: 2px solid rgba($color: #d1d1d1, $alpha: 0.3);
                            padding: 20px 20px 0px;
                            background-color: transparent;
                            border-radius: 0;
                        }

                        &.invite {
                            border-radius: 8px;
                            color: $secundary;
                            font-weight: 700;
                            background: rgb(255, 212, 0);
                            background: linear-gradient(260deg, rgba(255, 212, 0, 1) 0%, rgba(255, 102, 0, 1) 100%);

                            i {
                                color: $secundary;
                            }
                        }


                        &.active {
                            background-color: $secundary;
                            border-radius: 8px;
                            font-weight: 500;

                        }
                    }
                }

            }
        }



        &.scrolled {
            background-color: #222728;
        }

        .logo {
            display: block;

            .online {
                padding: 0.5rem 1rem;
                background: #222728;
                border-radius: 5px;
            }

            img {
                width: 150px;
                height: auto;
            }

            @media (max-width: 480px) {
                img {
                    width: 100px;
                    height: auto;
                }

            }
        }

        nav {
            display: flex;
            gap: 2rem;

            li {
                a {
                    font-size: 12px;
                    color: white;
                    text-decoration: none;
                    position: relative;
                    font-weight: 700;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $primary;
                        transform: scaleX(0);
                        transition: transform 500ms ease-in-out;
                    }


                    &:hover::after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        .dados {
            display: flex;
            gap: 1rem;
            align-items: center;

            .icon-mobile {
                width: 30px;
                height: 30px;
                display: none;
                place-content: center;
                border: 1px solid $primary;
                border-radius: 6px;

                i {
                    font-size: 16px;
                    color: $primary;

                    &.fa-xmark{
                        font-size: 18px;
                    }
                }
            }

            .dima {
                display: flex;
                gap: .5rem;
                align-items: center;
                cursor: pointer;

                span {
                    color: $primary;
                    font-size: 14px;
                    font-weight: bold;
                    padding-bottom: 2px;
                }
            }

            .compra {
                width: 40px;
                height: 40px;
                place-content: center;
                display: grid;
                border: 1px solid $primary;
                border-radius: 6px;
                cursor: pointer;

                i {
                    font-size: 12px;
                    color: $primary;
                }
            }

            .login {
                background-color: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                padding: 0 15px;
                gap: 0.5rem;
                border-radius: 6px;
                font-weight: bold;
                cursor: pointer;
                color: rgba(26, 26, 26, 0.89);

                i {
                    color: rgba(26, 26, 26, 0.89);
                    cursor: pointer;
                }
            }

            .conta {
                cursor: pointer;
                position: relative;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }

    }

    .mobile {
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 80px;
        height: calc(100vh - 80px);
        background-color: #222728;
        display: flex !important;
        padding: 0 1rem 2rem 1rem;
        flex-direction: column;
        justify-content: space-between;

        nav {
            width: 100%;
            display: flex;
            flex-direction: column;

            li {
                padding: .9rem 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                i {
                    font-size: 10px;
                }

                a {
                    color: white;

                    i {
                        width: 15px;
                        font-size: 14px;
                    }

                    display: flex;
                    gap: 1rem;
                    align-items: center;
                }
            }


        }

        .login {
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            gap: 0.5rem;
            border-radius: 6px;
            font-weight: bold;
            cursor: pointer;
            color: rgba(26, 26, 26, 0.89);
            font-size: 16px;

            i {
                color: rgba(26, 26, 26, 0.89);
                cursor: pointer;
            }
        }

        .icons-redes {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            padding-bottom: 1rem;
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }


}

@media (max-width: 1300px) {
    .margin-site {
        width: 100%;
        padding: 0 20px;
        /* Reduz o padding para tablets */
        gap: 3rem;
        /* Reduz o gap entre os elementos */
    }
}

@media screen and (max-width: 764px) {
    .container-header {

        header {
            justify-content: space-around;

            nav {
                display: none;
            }


            .dados {
                display: flex;
                gap: 1rem;

                .compra {
                    display: none;
                }

                .login {
                    display: none;
                    background-color: $primary;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 15px;
                    gap: 0.5rem;
                    border-radius: 100px;
                    cursor: pointer;
                    color: rgba(26, 26, 26, 0.89);

                    i {
                        color: rgba(26, 26, 26, 0.89);
                        cursor: pointer;
                    }
                }
            }
        }

        .mobile {
            display: block;
        }
    }
}

@media screen and (max-width: 650px) {
    .container-header {

        header {
            justify-content: space-around;

            nav {
                display: none;
            }


            .dados {
                display: flex;
                gap: 1rem;

                .compra {
                    display: none;
                }



                .login {
                    display: none;
                    background-color: $primary;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 15px;
                    gap: 0.5rem;
                    border-radius: 100px;
                    cursor: pointer;
                    color: rgba(26, 26, 26, 0.89);

                    i {
                        color: rgba(26, 26, 26, 0.89);
                        cursor: pointer;
                    }
                }
            }
        }

        .icon-mobile {
            display: grid !important;
        }
    }
}

.d-flex {
    display: block;
}

.d-none {
    display: none;
}