<div class="container-header">
    <header [ngClass]="{'scrolled': isScroll}">
        <div class="margin-site">
            <div class="logo">
                <a href=""><img src="img/logo.png" alt=""></a>
                <!-- <div class="online">
                    {{players}}
                </div> -->
            </div>
            <nav>
                <li><a href="#">INICIO</a></li>
                <li><a href="#vips">VIP</a></li>
                <li><a href="#diamente">DIAMANTE</a></li>
                <li><a href="#perguntas">COMO CONECTAR</a></li>
                <li><a href="#">LOJA</a></li>
            </nav>
            <div class="dados">
                <div class="dima" *ngIf="account">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 19 17" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.1353 5.00366H19L14.8164 0H10.4729L14.1353 5.00366ZM8.22824 15.6851L4.78127 5.97659H0L8.22824 15.6851ZM4.86467 5.00366L8.60351 0H4.26701L0 5.00366H4.86467ZM12.947 5.00366L9.5 0.29883L6.05999 5.00366H12.94H12.947ZM5.76811 5.97659L9.50695 16.5746L13.2458 5.97659H5.76811ZM14.2952 5.97659L10.8482 15.6851L19 5.97659H14.2952Z"
                            fill="#EF903C" />
                    </svg>
                    <span id="gema" *ngIf="account">{{account.gems}}</span>
                </div>
                <div class="login" (click)="login()" [ngClass]="{'d-flex': entrar, 'd-none': !entrar}">
                    Fazer login
                </div>
                <div class="conta" [ngClass]="{'d-flex': !entrar, 'd-none': entrar}" *ngIf="user">
                    <a href="/dashboard"><img [src]="getAvatar(user.discordId, user.avatar)" alt=""></a>
                </div>
            </div>
        </div>

    </header>

    <div class="mobile">
        <div class="nav-icons">
            <li>
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="#vip">
                    <i class="fa-solid fa-ticket"></i>
                    <span>VIP</span>
                </a>
            </li>
            <li>
                <a href="#diamante">
                    <i class="fa-solid fa-diamond"></i>
                    <span>Diamante</span>
                </a>
            </li>
            <li>
                <a href="#como-conectar">
                    <i class="fa-solid fa-question"></i>
                    <span>Ajuda</span>
                </a>
            </li>
            <li>
                <a href="#carrinho">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Carrinho</span>
                </a>
            </li>
        </div>

       

        <div class="dados">
            <div class="login">
                <i class="fa-solid fa-user"></i>
                Login
            </div>
        </div>
    </div>
</div>