<main>
    <h1>Termos de Serviço  - Groove Roleplay</h1>
    <section class="terms-content">
        <h2>1. Introdução</h2>
        <p>
            Bem-vindo ao Groove Roleplay, um servidor de roleplay criado pela Wize Company Club, baseado no mapa de
            San Andreas. Ao acessar e utilizar nossos serviços, você concorda com estes Termos de Serviço. Se não
            concordar com qualquer parte deste documento, não utilize o servidor ou o site.
        </p>

        <h2>2. Requisitos e Responsabilidades</h2>
        <ul>
            <li><strong>Idade Mínima:</strong> O servidor é destinado a maiores de <strong>18 anos</strong> devido à
                presença de agressão
                e linguagem inadequada.</li>
            <li><strong>Responsabilidade do Player:</strong> Cada jogador é integralmente responsável por suas ações
                dentro do servidor. A equipe administrativa não se responsabiliza por conflitos entre jogadores.</li>
            <li><strong>Regras e Conduta:</strong> Não toleramos comportamentos tóxicos, discursos de ódio, metagaming
                ou
                dark roleplay. A equipe de staff pode aplicar <strong>punições e bans permanentes</strong> caso as
                regras sejam violadas.
            </li>
        </ul>

        <h2>3. Compras e Doações</h2>
        <ul>
            <li>
                Todas as compras realizadas no site são consideradas <strong>doações</strong> para manter a
                infraestrutura do servidor.
            </li>
            <li>
                Nenhuma compra é reembolsável. Caso ocorra algum problema técnico, entre em contato via <strong>
                    ticket de
                    suporte
                </strong>, e nossa equipe avaliará a situação.
            </li>


        </ul>

        <h2>4. Suspensão e Encerramento</h2>
        <ul>
            <li>
                <strong>A Wize Company Club</strong> se reserva o direito de suspender ou encerrar contas sem aviso
                prévio caso as regras
                do servidor sejam violadas.
            </li>
        </ul>

    </section>
</main>