@use '../../../../public/variables.scss' as *;
;

.container-main {


  .first-section {
    width: 100%;
    min-height: 90vh;
    background-color: $primary;
    z-index: -1;
    background-image: url(/img/fundo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;

    ::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 90vh;
      top: 0;
      left: 0;
      background: rgb(0, 0, 0);
      background: linear-gradient(183deg, rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0.5) 100%);
      z-index: -1;
    }

    .content {
      width: 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      gap: 1.2rem;
      font-size: 26px;
      font-weight: 500;
      z-index: 2;
      padding-bottom: 50px;
      font-family: "Poppins";


      .break {
        font-size: 57px;
        color: $primary;
        font-weight: 900;
        font-family: "Poppins";

      }

      a {
        background-color: $primary;
        border: none;
        border-radius: 6px;
        color: $secundary;
        padding: 0.4rem 2rem;
        font-size: 14px;
        cursor: pointer;
        margin-top: 40px;
      }
    }
  }


  .Vips {
    width: 100%;
    background: #222728;
    // height: 100vh;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
      // padding-top: 60px;

      h1 {
        color: #FFF;
        text-align: start;
        text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.50);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }

      p {

        font-weight: 200;
      }
    }

    .cards {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: space-between;


      .card {
        width: 300px;
        height: 420px;
        background-color: #222728;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &.prata {
          background: url(/img/prata.png);
          background-position: center center;
          background-size: cover;
        }

        &.ouro {
          background: url(/img/ouro.png), lightgray 0px -3.441px / 100% 115.471% no-repeat;
          background-position: center center;
          background-size: cover;
        }

        &.diamante {
          background: url(/img/diamante.png), lightgray 0px -3.441px / 100% 115.471% no-repeat;
          background-position: center center;
          background-size: cover;
        }

        &.esmeralda {
          background: url(/img/esmeralda.png), lightgray 0px -3.441px / 100% 115.471% no-repeat;
          background-position: center center;
          background-size: cover;
        }

        .content {
          display: flex;
          border-radius: 10px;
          flex-direction: column;
          justify-content: end;
          height: 250px;
          padding: 0 20px 15px;
          box-shadow: 3px 29px 30px -11px rgba(0, 0, 0, 0.75);
          background: linear-gradient(180deg, rgba(42, 42, 42, 0.00) -2.25%, rgba(23, 24, 25, 0.71) 17.41%, #0D0F0F 100%);

          p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* Limita a 3 linhas */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .buttons {
            display: flex;
            justify-content: end;
            gap: 0.5rem;
            align-items: center;

            .detalhes {
              padding: 5px 10px;
              border-radius: 6px;
              border: 1px solid $primary;
              color: $primary;
              font-size: 12px;
              cursor: pointer;
            }

            .comprar {
              display: flex;
              gap: 5px;
              padding: 5px 10px;
              font-size: 12px;
              border-radius: 6px;
              background: $primary;
              transition: all .3s ease-in-out;
              align-items: center;
              color: $secundary;
              cursor: pointer;

              i {
                color: $secundary;
              }
            }
          }


          span {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
          }

          p {
            color: #CAC4D0;
            font-size: 12px;
            font-weight: 300;
          }


        }
      }
    }
  }

  .redes {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    // margin-top: 50px;
    background-image: url(/img/redes.png);
    background-position: center center;
    background-size: cover;

    .descricao-redes {
      width: 100%;

      h3 {
        color: #FFF;
        text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.50);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
      }

      p {
        font-size: 14px;
        font-weight: 400;

      }
    }

    .icon-redes {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      svg {
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
        }

      }
    }

  }

  .diamantes {
    background: #222728;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // height: 100vh;

    .descricao-diamantes {
      display: flex;
      flex-direction: column;
      // padding-top: 60px;

      h1 {
        color: #FFF;
        text-align: start;
        text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.50);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }

      p {
        width: 900px;
        font-weight: 200;
      }
    }

    .cards {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: space-between;

      .card {
        width: 300px;
        height: 420px;
        background-color: #222728;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &.onek-dima {
          background: url(/img/diamente1.png), lightgray 0px -3.441px / 100% 115.471% no-repeat;
          background-position: center center;
          background-size: cover;
        }

        &.fourk-dima {
          background: url(/img/diamante2.png), lightgray 0px -3.441px / 100% 115.471% no-repeat;
          background-position: center center;
          background-size: cover;
        }

        &.eightk-dima {
          background: url(/img/diamante3.png), lightgray 0px -3.441px / 100% 115.471% no-repeat;
          background-position: center center;
          background-size: cover;
        }

        &.sixteen-dima {
          background: url(/img/diamante4.png), lightgray 0px -3.441px / 100% 115.471% no-repeat;
          background-position: center center;
          background-size: cover;
        }

        .content {
          display: flex;
          border-radius: 10px;
          flex-direction: column;
          justify-content: end;
          height: 250px;
          padding: 0 20px 15px;
          box-shadow: 3px 29px 30px -11px rgba(0, 0, 0, 0.75);
          background: linear-gradient(180deg, rgba(42, 42, 42, 0.00) -2.25%, rgba(23, 24, 25, 0.71) 17.41%, #0D0F0F 100%);

          .buttons {
            display: flex;
            justify-content: end;
            gap: 0.5rem;
            align-items: center;

            .detalhes {
              padding: 5px 10px;
              border-radius: 6px;
              border: 1px solid $primary;
              color: $primary;
              font-size: 12px;
              cursor: pointer;
            }

            .comprar {
              display: flex;
              gap: 5px;
              padding: 5px 10px;
              font-size: 12px;
              border-radius: 6px;
              background: $primary;
              transition: all .3s ease-in-out;
              align-items: center;
              color: $secundary;
              cursor: pointer;

              i {
                color: $secundary;
              }
            }
          }


          span {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
          }

          p {
            color: #CAC4D0;
            font-size: 12px;
            font-weight: 300;
          }


        }
      }
    }
  }


  .perguntas-frequentes {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/redes.png);
    background-position: center center;
    background-size: cover;

    .descricao-perguntas {

      h1 {
        color: #FFF;
        text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.50);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        width: 900px;
      }
    }

    .perguntas {
      width: 900px;
      // padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      span {
        font-weight: bold;
        font-size: 24px;
      }
    }

    .pergunta {
      padding: 5px 10px;
      border: 1px solid $primary;
      color: $secundary;
      border-radius: 10px;
    }
  }
}

/* Estilo geral do acordeão */
mat-accordion {
  margin-top: 1rem;
}

/* Estilo para cada painel de expansão */
mat-expansion-panel {
  width: 100%;
  border: 2px solid $primary;
  margin-bottom: 5px;
  background-color: transparent;

}

mat-panel-title {
  color: $secundary;
}

mat-expansion-panel-header {
  background-color: $primary !important;

  &:hover {
    background-color: $primary !important;
    /* Cor do cabeçalho ao passar o mouse */
  }
}

/* Estilo para o conteúdo do painel */
mat-expansion-panel {

  p {
    margin-top: 20px;
    color: white;
    font-weight: 300;
    font-size: 14px;
  }
}

.margin-site {
  max-width: 1200px;
  min-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 80px 0;

}