@use '../../public/variables' as *;

.layout {
    display: flex;
    flex-direction: column;
    background-color: #222728;
    height: 100%;
    justify-content: space-between;

    main {
        background-color: #222728;
    }
}

::ng-deep .p-dialog {
    background: $secundary !important;

    .p-confirmdialog-accept-button {
        background: $primary !important;
        border: 1px solid $primary !important;
        color: $secundary !important;
    }

}

::ng-deep .p-confirmdialog {
    width: 90vw !important;

    @media (min-width: 576px) {
        width: 70vw !important;
    }

    @media (min-width: 768px) {
        width: 50vw !important;
    }

    @media (min-width: 992px) {
        width: 40vw !important;
    }

    @media (min-width: 1200px) {
        width: 30vw !important;
    }
}

::ng-deep .p-confirmdialog {
    .p-dialog-content {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .p-button{
        width: 100px !important;
    }

    .p-confirmdialog-icon {
        font-size: 24px !important;
        display: grid;
        place-content: center;
    }
}


// ::ng-deep .p-button-text.p-button-secondary{
//     width: auto !important;

// }

::ng-deep .p-toast {
    width: 300px !important;
}