@use '../../../../public/variables.scss' as *;


.background {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #1A1A1A, $alpha: 0.8);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.container-newAccount {
    width: 90%;
    height: 90%;
    min-height: 90%;
    position: fixed;
    background-image: url(/img/background-fila.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($color: #1A1A1A, $alpha: 0.8);
        z-index: -1;
    }

    header {
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        height: 80px;

        .logo {
            img {
                width: 10rem;
            }
        }

        svg {
            cursor: pointer;
        }
    }

    .content-newAccount {
        width: 100%;
        height: calc(100% - 80px);
        display: flex;
        justify-content: center;

        .inform {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .content-inform {
                padding: 0 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                #title {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 46px;
                    line-height: 60px;
                    width: 100%;
                    text-align: center;
                }

                p {
                    color: white;
                    font-size: 1rem;
                    width: 50%;
                    text-align: center;

                    @media (max-width: 768px) {
                        width: 75%;
                        /* Aumenta a largura para telas menores */
                        font-size: 0.9rem;
                        /* Reduz o tamanho da fonte para telas menores */

                    }

                    @media (max-width: 480px) {

                        width: 90%;
                        /* Aumenta ainda mais a largura para telas muito pequenas */
                        font-size: 0.8rem;
                        /* Reduz ainda mais o tamanho da fonte */

                    }

                }

                .btn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 50px;

                    button {
                        padding: 10px 50px;
                        background-color: $primary;
                        border: none;
                        border-radius: 6px;
                        font-size: 14px;
                        font-weight: 600;
                        cursor: pointer;
                        color: $secundary;
                    }
                }
            }
        }
    }
}

// Responsividade
@media screen and (max-width: 1070px) {
    .container-newAccount {
        .content-newAccount {

            .inform {
                .content-inform {
                    padding: 0 2rem;

                    #title {
                        font-size: 32px;
                        line-height: 40px;
                        width: 100%;
                    }

                    p {
                        font-size: 0.9rem;
                    }

                    div {
                        span {
                            font-size: 14px;
                        }

                        .vantagens {
                            li {
                                font-size: 12px;
                            }
                        }
                    }

                    .btn {
                        button {
                            padding: 8px 40px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container-newAccount {
        .content-newAccount {
            flex-direction: column;

            .img {
                display: none; // Remove a div .img em telas menores
            }

            .inform {
                .content-inform {
                    padding: 0 2rem;

                    #title {
                        font-size: 32px;
                        line-height: 40px;
                        width: 100%;
                    }

                    p {
                        font-size: 0.9rem;
                    }

                    div {
                        span {
                            font-size: 14px;
                        }

                        .vantagens {
                            li {
                                font-size: 12px;
                            }
                        }
                    }

                    .btn {
                        button {
                            padding: 8px 40px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container-newAccount {
        .content-newAccount {
            .inform {
                .content-inform {
                    padding: 0 1rem;

                    #title {
                        font-size: 24px;
                        line-height: 30px;
                    }

                    p {
                        font-size: 0.8rem;


                    }

                    div {
                        span {
                            font-size: 12px;
                        }

                        .vantagens {
                            li {
                                font-size: 10px;
                            }
                        }
                    }

                    .btn {
                        button {
                            padding: 6px 30px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}