<div class="container-allowlist" (contextmenu)="$event.preventDefault()">

    <div class="content">

        <div class="cancel btn-style-global " (click)="cancelAllowlist()">
            <i class="fas fa-times"></i>
        </div>
        <div class="logo">
            <img src="/img/logo.webp" alt="logo" width="616" height="208">
        </div>

        <div class="foto">
            <img src="/img/imgCadastro-1.webp" alt="foto" width="1472" height="2128" fetchpriority="high">
        </div>

        <section *ngIf="!quiz">
            <div class="content_inicio">
                <div class="textos">
                    <h1>Faça a Allowlist</h1>
                    <span>Clique em iniciar e responda o questionário para conquistar sua Allowlist da cidade.</span>
                    <span>Responda a<strong> 15 perguntas</strong>, você precisa acertar pelo menos <strong>12
                            perguntas.</strong></span>
                    <span>Boa sorte e nos vemos na <strong>Groove!</strong></span>
                </div>
                <button class="btn-style btn-style-global" (click)="avancar()">Iniciar</button>
            </div>
            <span></span>
        </section>



        <section class="quiz" *ngIf="quiz">

            <div class="header_quiz">
                <div class="progress-container">
                    <span class="progress-value"> 00:{{ value < 10 ? ('0' + value) : value }}</span>
                            <p-progressbar [value]="(value * 100) / 60" showValue="false"
                                [style]="{ height: '6px', width: '100%' }">
                            </p-progressbar>
                </div>




                <div class="question_atual">
                    {{ currentQuestionIndex + 1 }} / <span>15</span>
                </div>
            </div>

            <div class="quiz_content">
                <div class="textos noselect">
                    <h1>Questão {{ currentQuestionIndex + 1 }}</h1>
                    <span [innerHTML]="fragmentarTexto(questions[currentQuestionIndex].question)"></span>

                </div>

                <div class="alternativas">
                    <div class="p-quiz noselect" *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
                        <input type="radio" name="option{{ currentQuestionIndex }}" id="option{{ i }}" [value]="option"
                            (change)="selectAnswer(option)" [checked]="selectedAnswer === option">

                        <label  for="option{{ i }}" class="ml-2" [innerHTML]="fragmentarTexto(option)">{{ option }}</label>
                    </div>
                </div>

                <div class="btn">
                    <button class="btn-style btn-style-global" (click)="nextQuestion()">Avançar</button>
                </div>
            </div>
        </section>

        <section class="quiz" *ngIf="quizFinished">
            <div class="quiz_content">
                <h2>Quiz Finalizado!</h2>
                <p>Sua pontuação: {{ score }} de {{ questions.length }}</p>
            </div>
        </section>
    </div>
</div>


<app-allow-aprovad *ngIf="allowAprovad" (close)="concluir()"></app-allow-aprovad>
<app-allow-reprovad *ngIf="allowReprovad" (close)="concluir()"></app-allow-reprovad>