@import '../../../../public/variables.scss';

.container-profile {
  width: 100%;
  height: 100%;
  background-color: #1A1A1AE3;

  main {
    width: 50%;
    margin: 0 auto;
    padding: 10% 0;

    .profile {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;

      .photo {
        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          border: 5px solid $primary;
        }
      }

      .name {
        display: flex;
        align-items: end;
        gap: 0.5rem;
        font-size: 32px;

        #vip {
          font-size: 12px;
          padding: 0 5px;
          background-color: $primary;
          color: $secundary;
          font-weight: bold;
        }
      }

      .inform {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
      }

      .description {
        color: #d1d1d1;
        font-size: 14px;
      }

      .dados {
        display: flex;
        gap: 1rem;
        align-items: center;

        div {
          display: flex;
          gap: 1rem;
          align-items: center;

          span {
            color: $primary;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }

    .tabs {
      margin-top: 3rem;

      .content {
        padding: 1rem;
        margin-top: 1rem;
        background-color: $secundary;
        border-radius: 10px;

        .personagem {
          font-size: 14px;
          color: #d1d1d1;
        }
      }
    }
  }
}


::ng-deep .mdc-tab__text-label {
  color: rgba(255, 255, 255, 1) !important;
}

::ng-deep .mdc-tab--active .mdc-tab__text-label {
  color: $primary !important; // Color para la pestaña activa
  font-weight: bold !important;
  font-size: 16px;
}

::ng-deep .mdc-tab-indicator {
  display: none !important; // Remove o indicador da aba
}